<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="index.js"></script>

    <style>
        input.ng-dirty {
            background-color: antiquewhite;
        }

        input.ng-invalid {
            background-color: #b83f45;
        }
    </style>
</head>
<body>

<div ng-controller="mainCtrl">

    <form name="myForm" ng-submit="doSubmit()" novalidate>

        <div>
            <label for="name">Name</label>
            <input name="name" ng-model="person.name" required minlength="3" placeholder="name"/>

            <div ng-show="myForm.name.$dirty">
                Someone click on the field!
            </div>
            <div ng-show="myForm.name.$invalid">
                This field is required!
            </div>
            <div ng-show="myForm.name.$error.minlength">
                Min length is 3 chars!
            </div>
        </div>

        <div>
            <label for="email">Email</label>
            <input name="email" ng-model="person.email" required="" type="email" placeholder="email"/>
        </div>

        <div>
            <button ng-disabled="myForm.$invalid">Submit</button>
        </div>


    </form>

</div>


</body>
</html>