<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="index.js"></script>
</head>
<body>

<div ng-controller="mainCtrl as ctrl">
    <h1>Hello {{name}} {{QQQ}}</h1>

    <h2>

        {{ctrl.price|currency}}

    </h2>

    <h3>
        {{ctrl.now|date:'medium'}}
    </h3>

    <input ng-model="ownFilter.state" />

    <ul>
        <li ng-repeat="stud in ctrl.students | orderBy: 'fname' | filter: ownFilter">
            {{stud.fname}} {{stud.lname}} - {{stud.translatedState}}
        </li>
    </ul>

</div>


</body>
</html>